                                            /* NAV BAR */
body{
    /* background-color: lightgray; */
    background: BLACK;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 19%, rgba(232, 232, 232, 1) 31%, rgba(232, 232, 232, 1) 44%);
}
a{
    color: var(--__dChsbGMXsw4B, #2162a1);
    font-size: 14px;
}
#header-1{
    height: 65px;
    width: 101.5%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction:row;
    align-items: center;
}
#left{
    height: 65px;
    width: 15%;
    display: flex;
    flex-direction:row;
    background-color: rgb(30, 29, 29);
    align-items: center;
}
#centre{
    width: 65%;
    margin-right: 2px;
    margin-left: 1%;
    /* border: 1px solid black ; */
    border-radius: 5px;
    display: flex;
    flex-direction:row;

}
#right{
    width: 30%;
    /* border: 1px solid black ; */
    display: flex;
}
                        /* left section */
                                            /* NAV logo */
#logo-nav{

    height: 55px;
    width: 114px;
    
}
/* img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: none;
    
} */
#logo-nav:hover{
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;
}
#logo-in-nav{
    height: 100%;
    width: 100%;
}

                                            /* Deiver to */
#deliver-to{
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(0, 0, 0);
    height: 55px;
    width: 90px;
    display: flex;
    align-items: center;
}

#deliver-to:hover{
    border: 1px white;
    border-style: groove;
    border-radius: 5px;  
}

#location{
    height: 25px;
    width: 20px;
    object-fit: fill;
}
#to{
    color: white;
    font-size: 13px;
}
                        /* centre */
                                            /* All list */
#centre-nav-all-list{
    height: 40px;     
    width: 8%;      /* optional safety */
    white-space: nowrap;
}

                                         /* Search Area */
#centre-input{
    width: 80%;
    height: 38px;
}
#nav-search-area{
    width: 95%;
    height: 34px;
}
                                            /* Search button */
#nav-search-button{
    position: relative;
    left:4px;
    background-color: #febd69;
    height: 100%; 
    width:45px;
    border:none;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
}
#nav-search-button-ball{
    position: relative;
    height:13px;
    width:13px;
    border-radius: 50%;
    border: 2px solid black;
    top: 10px;
    left: 6px
}
#nav-search-button-ball-line{
    position: relative;
    height: 0px;
    width:11px;
    border: 1px solid black;
    transform: rotate(45deg);
    top: 27px;
    left: 2px;
}

                        /* right section */
                                                    /* language */
#language{
    height:57px;
    width: 100%;
    /* border: 2px solid rgb(235, 67, 67); */
    display: flex;
    align-items: center;
    overflow: auto;
}
#language-section{
    height: 100%;
    width: auto;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
#language-flag-and-name{
    
    display:flex;
    position: relative;
    top:5px;
    left:5px;
}
#language-section:hover{
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;
}
#language-flag{
    height:16px;
    width:21px;
    
}
#language-flag img {
    position: relative;
    height: 100%;
    width:100%;
    object-fit: cover;
}
#language-name{
    position: relative;
    left :5px;
}
#language-dropdown-button-section{
    position: relative;
    top:7px;
    left: 14px;
}
#inverted-triangle-dropdown-button{
        
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #535252; /* triangle color */
        background: none;
        cursor: pointer;
        position:relative;
        
}

                                                    /* sign-in and Accounts */
#sign-in{
    height:57px;
    width: 150%;
    /* border: 2px solid rgb(106, 0, 255); */
    font-size: small;
    display: flex;
    align-items: center;
}
#sign-in:hover{
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;
}
#sign-in-nav-text-section{
    color: white;
    position: relative;
    left: 4px; 
}
#inverted-triangle-dropdown-button-section{
    position: relative;
    top: 7px;
    left: 8px;
}

                                                    /* return and order */
#return-and-order{
    height:57px;
    width: 100%;
    /* border: 2px solid rgb(138, 243, 9); */
    display: flex;
    align-items: center;
}
#return-and-order:hover{
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;
}
#return-and-order-text-section{
    position: relative;
    margin-left:5%;
    color: white;
}
                                                    /* cart */
#cart{
    height:57px;
    width: 100%;
    /* border: 2px solid rgb(255, 13, 223); */
    display:flex;
}
#cart:hover{
    border: 1px solid white;
    border-style: groove;
    border-radius: 5px;
}
#cart-symbol-section{
    position: relative;
    left: 8%;
    display: flex;

}
#cart-symbol-section-line{
    display:flex;
}
#cart-symbol-section-line1{
    position: relative;
    top:30%;
    height: 0px;
    width: 5px;
    border: 2px solid rgb(255, 255, 255);
}
#cart-symbol-section-line2{
    position: relative;
    height:0px;
    top:43%;
    right:11%;
    width: 15px;
    border: 2px solid rgb(255, 255, 255);
    transform: rotate(60deg);
}
#cart-symbol-section-line3{
    position: relative;
    top:57%;
    right:23%;
    height:0px;
    width: 10px;
    border: 2px solid rgb(255, 255, 255);
    
}
#cart-symbol-section-line4{
    position: relative;
    top:47%;
    right: 32%;
    height:0px;
    width: 10px;
    border: 2px solid rgb(255, 255, 255);
    transform: rotate(-60deg);
}
#cart-symbol-section-ball{
 display: flex;   
}
#cart-symbol-section-ball1{
    position: relative;
    top: 67%;
    right: 510%;
    height: 0px;
    width: 0px;
    border: 2.4px solid rgb(255, 255, 255);
    border-radius: 100%;
}
#cart-symbol-section-ball2{
    position: relative;
    top: 67%;
    right: 430%;
    height: 0px;
    width: 0px;
    border: 2.4px solid rgb(255, 255, 255);
    border-radius: 100%;
}
#cart-text-section{
    position: relative;
    align-self: center;
    right:10%;
    color: white;
}

#header-2 {
    color: white;
    background-color: #232f3e;
    height : 39px;
    display: flex;
    width: 101.5%;
}

.h2-left {
    width: 6%;
    height: 100% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#h2-fill{
    width:90%;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}

.border{
    height: 37px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    
    justify-self: center;
    padding: 0px 5px 0px 5px;
    
    
}

.border:hover{
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
}
                                        /* Hero section */
.hero-section{
    width: 101.5%;
    height: 600px;
    /* border: 2px solid blue; */
    background-image: url("more items/gaming-img.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
}
/* #empty-area{
    width: 100%;
    height: 250px;
    border: 2px solid blueviolet;
} */
.Cat-boxes{
    /* padding-top:7%; */
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box-content{
    margin: 10%;
    /* border: 2px solid yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box{
    height: 420px;
    width: 320px;
    /* border: 2px solid rgb(0, 218, 40); */
    margin-left:4%;
    margin-right:4%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.box-text{
    height: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    /* margin-bottom: 5%; */
}
.box-pictures{
    height: 80%;
    width: 100%;  
    /* border: 2px solid red; */
}
.box-pictures img{
    height: 100%;
    width: 100%; 
    object-fit:cover;
    cursor: pointer;
}
.box-link{
    margin-top: 10px;
    height: auto;
    width: 100%; 
    /* border: 2px solid #febd69; */
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.box-link a{
    text-decoration: none;
}

                                        /* Client Cards */
.client-cards{
    height: 285px;
    width: 100%;
    
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.client-cards-content{
    background-color: white;
    /* border: 2px solid black; */
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.client-cards-content-text{
    
    height: 20%;
    width: auto;
    /* border: 2px solid salmon; */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;

}

.client-cards-content-text a{
    text-decoration: none;
    align-self: center;
    margin: 5px 0 0 10px;
}

.client-cards-content-images{
    width: 95%;
    height: 70%;
    align-self: center;
    /* border: 2px solid #232f3e; */
    display:flex;
    gap: 1rem;
    overflow-x: auto;
    cursor: pointer;
}

.client-cards-content-images img{
    height: 100%;
    width: auto;
}

.client-cards-vertical{
height: 420px;
width: 100%;
margin: 1rem 0rem 1rem 0rem;
/* background-color: whitesmoke; */
display: flex;
justify-content: center;
}
.client-cards-content-vertical{
    height: 100%;
    width: 90%;
    align-self: center;
    /* background-color: rgb(128, 39, 39); */
    display: flex;
    gap:5%;
}

.content{
    height: 100%;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-text{
    margin-left:0.5rem;
    margin-top:0.5rem;
    height: 10%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    
    
}
/* image grid */
.content-pictures{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* background-color: blue; */
    justify-content: space-evenly;
    cursor: pointer;
}

/* each image box */
.content-pictures figure{
    /* background-color: red; */
    width: 45%;
    margin: 0;
    min-width: 0;    
}

/* image itself */
.content-pictures img{
    width: 100%;
    height: 120px;           
    object-fit: cover;       
    display: block;
}

/* caption */
.content-pictures figcaption{
    font-size: 12px;
    margin-top: 4px;
}
.content-link{
    margin-left: 10px;
    margin-bottom: 0.5rem;
}
.content-link a{
    text-decoration: none;
    font-size: large;
}
footer{
    background-color: #232F3E;
    width: 100%;
}
.back-to-top{
    width: 100%;
    height: 50px;
    background-color: #314966;
    display: flex;
    justify-content: center;
}
.back-to-top a{
    align-self:center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif ;
}
.Us{
    display: flex;
    justify-content: space-evenly;
}
.Us p{
    color: white;
    margin-left: 2rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 10px;
}
.Us li{
    line-height: 30px;
    color: white;
    text-decoration: none;
    list-style: none;
}
.Us li:hover{
    text-decoration: underline;
    cursor:pointer;
}
.last{
    width: 100%;
    background-color: #131a22;
}
.l-1{
    display: flex;
    justify-content: space-around;
}
.l-1 p{
    width: auto;
    color: azure;
    gap:10px;
}
.l-1 p:hover{
    text-decoration: underline;
    cursor:pointer;
}
.l-2{
    text-align: center;
    height: 30px;
}
.l-2 p{
    color: azure;
}
.l-2 p:hover{
    text-decoration: underline;
    cursor:pointer;
}
@media (max-width: 900px) {
    .nav-left,
    .nav-right {
      display: none;
    }
  
    .nav-center {
      margin: 0;
    }
  }